<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interactieve CV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-bg-clear fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="navbar-brand-img">
                        <img class="rounded-circle" alt="40x40" src="~/images/mvdbroucke.jpg" data-holder-rendered="true">
                    </div>
                    <div class="navbar-brand-content">
                        <h1>Miguel <strong>VDB</strong></h1>
                        <p><strong>.NET</strong> Ontwikkelaar</p>
                    </div>
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto text-uppercase">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#profile">Profiel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#profile">Ervaring</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#profile">Compententies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#profile">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-button">
                    <a class="" href="#">Stuur Mij</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Interactive CV - Miguel Vanden Broucke
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
